<div *ngIf='units?.length>0 ; else noUnitsYets'>

<table class="table">
  <thead>
    <tr>
      <th>Name</th> <th>District</th> <th>Description</th> <th>Open</th> <th>Phone</th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor='let unit of units'>


         <td>
            {{unit.name|summary:18}}
         </td>
        <td>
            <span class="blue-text"> {{unit.locality}}</span>
        </td>
        <td>
            {{unit.description |summary:30}}
         </td>
         <td class="blue-text">
            {{unit.open}}
         </td>
         <td>
            {{unit.phone}}
         </td>

         <td><a [routerLink]="['/heathunit',unit.id]"><i class="material-icons">details</i></a></td>
      </tr>
    </tbody>

</table>












</div>
<ng-template #noUnitsYets class="center">

    <div class="preloader">
        <div class="preloader-wrapper big active align-center">
            <div class="spinner-layer spinner-green-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
    </div>
</ng-template>

<!-- //preloader -->


 <!-- FIXED ACTION BUTTON -->
   <div class="fixed-action-btn">
      <a routerLink="/addhealthunit" class="btn-floating blue btn-large"><i class="large material-icons">add</i></a>

    </div>

