<div class="row">
    <div class="col s4">


        <div class="card  z-depth-5">
            <div class="card-content">
              <h5 class="center-align">Health Units<span><i class="material-icons">home</i></span></h5>
              <h5 class="center-align blue-text darken-4"><strong>{{unitcount}}</strong></h5>
            </div>
          </div>



    </div>
    <div class="col s4">


        <div class="card z-depth-5">
            <div class="card-content">
              <h5 class="center-align">Consellors<span><i class="material-icons">person</i></span></h5>
            <h5 class="center-align blue-text darken-4"><strong>{{consellorcount}}</strong></h5>
            </div>
          </div>


    </div>
    <div class="col s4">
        <div class="card z-depth-5">
            <div class="card-content">
              <h5 class="center-align">Cases<span><i class="material-icons">warning</i></span></h5>
              <h5 class="center-align blue-text darken-4"><strong>{{casecount}}</strong></h5>
            </div>
          </div>




    </div>
    </div>


<div class="row">
  <div class="col s12">
    <div #chart>

    </div >
  </div>
  <div class="col s12">
    <div #pie>

    </div>
  </div>
</div>

 <!-- TAP TARGET -->
 <div class="fixed-action-btn">
  <a id="menu" onclick="$('.tap-target').tapTarget('open')"
  class="waves-effect waves-light btn btn-floating btn-large red">
    <i class="material-icons">menu</i>
  </a>
</div>

<!-- TAP TARGET CONTENT -->
<div class="tap-target cyan" data-activates="menu">
  <div class="tap-target-content white-text">
    <h5>About</h5>
    <p class="white-text">Keep Safe version 1.0</p>
  </div>
</div>

      <!-- FIXED ACTION BUTTON -->
      <div class="fixed-action-btn">
          <a href="#" class="btn-floating red btn-large"><i class="large material-icons">add</i></a>
          <ul>
              <li><a routerLink="/addvht" class="btn-floating cyan btn-large tooltipped" data-position="top" data-tooltip="Add VHT Member"><i class="large material-icons">person</i></a></li>
              <li><a routerLink="/adddistrict" class="btn-floating green btn-large tooltipped" data-position="top" data-tooltip="Add new District"><i class="large material-icons">place</i></a></li>
              <li><a routerLink="/addcounsellor" class="btn-floating blue btn-large tooltipped" data-position="top" data-tooltip="Add new Consellor"><i class="large material-icons">person</i></a></li>
              <li><a routerLink="/addhealthunit" class="btn-floating yellow btn-large tooltipped" data-position="top" data-tooltip=" Add a new Health Unit"><i class="large material-icons">home</i></a></li>

            </ul>
        </div>




