
<ul id="dropdown1" class="dropdown-content">

  <li><a  routerLink="/addhealthunit">Health Unit</a></li>
  <li><a  routerLink="/adddistrict">District</a></li>
 <li><a  routerLink="/addvillage">Village</a></li>
 <li class="divider"></li>
 <li><a  routerLink="/addcounsellor">Consellor</a></li>
  <li><a  routerLink="/addvht">VHT Member</a></li>
</ul>
<ul id="slide-out" class="side-nav">

<br>
<br>
<br>


    <li><a  routerLink="/dashboard"><i class="material-icons right">home</i>Home</a></li>

    <div class="divider"></div>

    <h4 class="center">View</h4>
    <li><a  routerLink="/closed_cases"><i class="material-icons right">warning</i>Closed Cases</a></li>
    <li class="divider"></li>
  <li>


<div class="divider"></div>

    <h4 class="center">Create</h4>
    <li><a  routerLink="/addhealthunit"><i class="material-icons right">movies</i>Health Unit</a></li>
    <li><a  routerLink="/adddistrict"><i class="material-icons right">place</i>District</a></li>
   <li><a  routerLink="/addvillage"><i class="material-icons right">place</i>Village</a></li>
   <li class="divider"></li>
   <li><a  routerLink="/addcounsellor"><i class="material-icons right">person</i>Consellor</a></li>
    <li><a  routerLink="/addvht"><i class="material-icons right">person</i>VHT Member</a></li>
    <li class="divider"></li>
  <li>

<a onclick="$('.tap-target').tapTarget('open')" class="waves-effect waves-light"><i class="material-icons right">help</i>About</a>
  </li>
  <li><a  (click)="logout()"><i class="material-icons right">power</i>Logout</a></li>
</ul>

<div class="navbar-fixed z-depth-3">
  <nav class=" blue darken-4 z-depth-3">
    <div class="nav-wrapper container">
        <span *ngIf="(user|async)?.uid" data-activates="slide-out"  class="button-collapse"><i class="material-icons">menu</i></span><a class="brand-logo"  routerLink="/dashboard">{{appName}}</a>
 <ul class="right">
        <li><a *ngIf="!(user|async)?.uid"  routerLink="/login" ><i class="material-icons right">lock</i>Login</a></li>

        <li routerLinkActive="active" class="nav-item"><a routerLink="/units"   *ngIf="(user|async)?.uid" class="nav-link">Health Care Units</a></li>
        <li routerLinkActive="active" class="nav-item"><a routerLink="/cases"  *ngIf="(user|async)?.uid"  class="nav-link">Reported Cases</a></li>
        <li routerLinkActive="active" class="nav-item"><a routerLink="/councillors"  *ngIf="(user|async)?.uid"  class="nav-link">Consellors</a></li>
        <li>
         <a *ngIf="(user|async)?.uid" routerLink="/account"><i class="material-icons right">lock</i>Account</a>
       </li>
      </ul>
    </div>
  </nav>

</div>




















