<div class="card">
  <div class="card-content">
    <span class="card-title">
      Add A health Unit
    </span>

    <form (ngSubmit)="uploadSingle()" class="form col s12 m6" >

    <div class="row">



        <div class="file-field  input-field col s12 m6">
            <div class="btn">
              <span>Pick Photo</span>
              <input type="file" id="pickedphoto" (change)="detectFiles($event)">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            
            </div>
          </div>

        <div class="input-field col s12 m6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" [(ngModel)]="unit.name" name="name" minlength="2">
          <label for="icon_prefix">HealthUnit Name</label>
        </div>
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate" [(ngModel)]="unit.phone" name="phone" minlength="12">
          <label for="icon_telephone">HealthUnit Phone</label>
        </div>
    
      <div class="input-field col s12 m6">
          <i class="material-icons prefix">place</i>
        <input type="text"  [(ngModel)]="unit.locality" name="locality" required>
        <label for="">Health Unit District</label>
      </div>

      <div class="input-field col s12 m6">
          <i class="material-icons prefix">map</i>
        <input type="text"  [(ngModel)]="unit.province" name="province" required>
        <label for="">Health Unit Region</label>
      </div>
      <!-- <div class="input-field col s12 m6">

          <i class="material-icons prefix">place</i>
          <select [(ngModel)]="unit.province" name="province">
              <option value="" disabled selected>Choose the region</option>
              <option  [(ngModel)]="unit.province" name="province" [value]="Western">Western Uganda</option>
              <option  [(ngModel)]="unit.province" name="province" [value]="Southern">Southern Uganda</option>
              <option  [(ngModel)]="unit.province" name="province"  [value]="Northern">Northern Uganda</option>
              <option   [(ngModel)]="unit.province" name="province" [value]="Eastern">Eastern Uganda</option>
            </select>
            <label>Health Unit Region</label>
      </div> -->
      <div class="input-field col s12 m6">
          <i class="material-icons prefix">announcement</i>
        <textarea type="text" [(ngModel)]="unit.description" maxlength="300" required class="materialize-textarea" name="description"></textarea>
        <label for="">Health Unit Description</label>
      </div>
      <div class="input-field col s12 m6">
          <i class="material-icons prefix">access_time</i>
        <input type="text" [(ngModel)]="unit.open" required name="open">
        <label for="">Working Hours</label>
      </div>
      <input type="submit" value="Submit" class="btn  waves-effect">
   
    </div>

  </form>
  </div>
</div>