<div class="preloader">
    <div class="preloader-wrapper big active align-center">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
</div>





<div *ngIf='consellors?.length>0 ; else noCounsellorsYet'>

<table class="table">
  <thead>
    <tr>
        <th>Email</th><th>Name</th>    <th>Profile</th>    <th>Gender</th><th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let consellor of consellors">
<td>  {{consellor.email}}</td>
<td>  {{consellor.name}}</td>
<td>  {{consellor.profile|summary}}</td>
<td>  {{consellor.gender}}</td>
<td><a [routerLink]="['/conselor',consellor.id]"><i class="material-icons">details</i></a></td>
    </tr>
  </tbody>
</table>

  </div>

  <ng-template #noCounsellorsYet>






  </ng-template>


   <!-- FIXED ACTION BUTTON -->
 <div class="fixed-action-btn">
      <a class="btn-floating red btn-large" routerLink="/addcounsellor"><i class="large material-icons">add</i></a>

    </div>
