#preloader{
    position: absolute !important;
    left: 40%;
    top: 40%;
}
#floating_button{
  position: fixed;
  bottom: 0%;
 top :0px;


}

.preloader-wrapper{
    position: absolute !important;
    left: 50%;
    top: 40%;
}

