#preloader{
    position: absolute !important;
    left: 40%;
    top: 40%;
}

.preloader-wrapper{
    position: absolute !important;
    left: 50%;
    top: 40%;
}

#floating_button{
    position: absolute;
    top: 70%;
    left: 80%;
  


}