<!-- LEFT LOGO -->
      <nav>
        <div class="nav-wrapper blue">
          <a href="" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li id="userEmail" *ngIf="(user|async)?.uid">Hello, {{userEmail}}</li>
            <li><a *ngIf="!(user|async)?.uid" href="#" (click)="login()">Login</a></li>
            <li><a *ngIf="(user|async)?.uid" href="#" (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </nav>

<!-- 
       <nav>
        <div class="nav-wrapper blue">
          <a href="" class="brand-logo"><span>
          </span>Keep Safe</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>< <a *ngIf="!(user|async)?.uid" href="#" (click)="login()">Login</a></li>
            <li> <a *ngIf="!(user|async)?.uid" routerLink="/signup">Sign Up</a></li>
             <li id="userEmail" *ngIf="(user|async)?.uid">Hello, {{userEmail}}</li>
            <li><a *ngIf="(user|async)?.uid" href="#" (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </nav>
 -->



