

<div class="available" *ngIf="cases?.length>0;  else nocases">

  <table class="table">
    <thead>
      <tr>
       <th>Case</th>  <th>District</th>
<th>Phone</th>
       <th>Occur Date</th>
         <th>Reported By</th>
       <th>Reported</th>
          <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let case of cases">
        <td>{{case.description|summary:20}}</td>
         <td class="blue-text">{{case.district}}</td>
          <td>{{case.phone}}</td>
        <td>{{case.happened}}</td>
         <td>{{case.reported_by}}</td>

        <td>{{case.reported| timeAgo}}</td>
        <td><a [routerLink]="['/case',case.id]"><i class="material-icons">details</i></a></td>
      </tr>
    </tbody>


  </table>

</div>

 <ng-template #nocases>
    <div class="preloader">
        <div class="preloader-wrapper big active align-center">
            <div class="spinner-layer spinner-green-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
    </div>
</ng-template>
